@import url("https://use.typekit.net/hpw1iiu.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body{
    
    background-image:linear-gradient(90deg, rgba(2,0,36,.5) 0%, rgba(76,28,48,.5) 29%, rgba(157,78,142,.7) 67%, rgba(176,65,65,.8) 99%, rgba(176,65,65,.8) 100%) ,url(../src/media/images/pattern.png);
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,28,48,1) 29%, rgba(157,78,142,1) 67%, rgba(176,65,65,1) 99%, rgba(0,212,255,1) 100%); */
}

.logo-main>h1{
    font-style: normal;
    /* font-weight: 400; */
    font-family: "Poppins",sans-serif;
    font-size: 51px;
    letter-spacing: 10px;
    font-weight: 600;
    color: rgba(26, 24, 23, 0.473);
    position: absolute;
    top: 5px;
    left: 39px;
    /* border: 1px dashed rgba(255, 255, 255) */
    /* text-outline: */
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 0px 30px;
    box-shadow:
  5.8px 8px 3.6px rgba(0, 0, 0, 0.2),
  16.2px 22px 10px rgba(0, 0, 0, -0.004),
  38.9px 53.1px 24.1px rgba(0, 0, 0, -0.028),
;
    height:10vh;
    padding:5px 5px 5px 5px;
    border:.5px solid white;
    position: fixed;
    width: 86vw;
    transform: translate(10px, -155px);
    z-index: 100;
    background-color: #e84393;
    border:1px dashed white;
    background-image: linear-gradient(315deg, #3a232ec9 0%, #d6bfccb2 74%);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    opacity: .9;
}
.links-container>ul {
    display: flex;
    justify-content: space-between
}
.links-container>ul>li {
    text-decoration: none;
    cursor:pointer;
}
.links-container>ul>li>a {
    text-decoration: none;
    color:black
}

.links-container>ul>li {
    text-decoration: none;
    list-style-type: none;
    padding: 1em;
    font-size: 19.1px;
    font-family: "poppins";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all .5s;
}
.links-container>ul>li:hover {
    animation-name:  links;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-delay:.1s; 
    color: rgba(228, 96, 35, 0.842);
    background-color:rgba(0, 0, 0, 0.349);
    border-bottom:5px solid rgba(166, 18, 224, 0.836);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.login-icon{
    background-image: url(/src/media/images/login-icon.png);
    background-repeat:no-repeat;
    background-size: contain;
     position: relative;
     top: 12px; 
}
.links-container>ul>li>a:hover{
color: rgba(228, 96, 35, 0.842);
    
}

.search-bar{
    display: flex;
    border: 3px solid rgba(132, 55, 221, 0.363);
    width: 80vw;

}
.search-bar-main {
    width: 80vw;
    height: 6vh;
    padding: 18px;
    color:rgba(231, 81, 21, 0.87);
    border:1px solid rgba(143, 130, 130, 0.849);
    margin-left:2px;
}
.search-bar-icon {
    width: 3vw;
    height: 6vh;
    background-image: url(/src/media/images/search-bar-icn.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.footer-main{
    width: 100%;
    height: 37vh;
    background-color: #000000;
}
.footer-clean {
    padding:50px 0;
    background-color:rgba(212, 59, 153, 0.404);
    color:#d3dae0;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    transition: all .5s
  }
  
  .footer-clean ul a:hover {
    opacity:1;
    color:rgb(252, 0, 55);
    border-bottom: 3px solid white;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
    transition: all .5s
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }

.footer-end{
    color:rgba(233, 200, 200, 0.774);
    text-align: center;
    /* text-transform:uppercase; */
    /* letter-spacing:2px; */
    /* font-weight:400; */
    font-size: 13px;
}

/* .footer-animation>ul>li>a:hover{
  
} */
.footer-clean .item.social > a:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0%;
}